<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
		 name="connectionString" 
		 connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PROVISIONDEV;Data Source=PDS-SQL\XMPIE;Trusted_Connection=False;User ID=lespinter;PWD=RememberMe$;Connection Timeout=60;" 
		 providerName="System.Data.SqlClient"/>
		<!--<add
		 name="connectionString" 
		 connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ProDocument;Data Source=.;"
		 providerName="System.Data.SqlClient"/>-->

	</connectionStrings>

</configuration>