CREATE TABLE QUOTE_DETAILS (
 ID			UniqueIdentifier NOT NULL default NEWSEQUENTIALID() PRIMARY KEY,
 QUOTE_NUM	VarChar(6) NOT NULL DEFAULT '',
 SEQUENCE	Int NOT NULL DEFAULT 0,
 CATEGORY	VARCHAR(20) NOT NULL DEFAULT '',
 Param1		VARCHAR(20) NOT NULL DEFAULT '',
 Param2		VARCHAR(20) NOT NULL DEFAULT '',
 Param3		VARCHAR(20) NOT NULL DEFAULT '',
 Param4		VARCHAR(20) NOT NULL DEFAULT '',
 Param5		VARCHAR(20) NOT NULL DEFAULT '',
 Param6		VARCHAR(20) NOT NULL DEFAULT '',
 Param7		VARCHAR(20) NOT NULL DEFAULT '',
 Param8		VARCHAR(20) NOT NULL DEFAULT '',
 Param9		VARCHAR(20) NOT NULL DEFAULT '',
 Param10	VARCHAR(20) NOT NULL DEFAULT '',
 Value1		VARCHAR(20) NOT NULL DEFAULT '',
 Value2		VARCHAR(20) NOT NULL DEFAULT '',
 Value3		VARCHAR(20) NOT NULL DEFAULT '',
 Value4		VARCHAR(20) NOT NULL DEFAULT '',
 Value5		VARCHAR(20) NOT NULL DEFAULT '',
 Value6		VARCHAR(20) NOT NULL DEFAULT '',
 Value7		VARCHAR(20) NOT NULL DEFAULT '',
 Value8		VARCHAR(20) NOT NULL DEFAULT '',
 Value9		VARCHAR(20) NOT NULL DEFAULT '',
 Value10	VARCHAR(30) NOT NULL DEFAULT '',  -- stores up to 21 binary digits for 'SECURITY' f_types
 Amount		money		NOT NULL DEFAULT 0,
 FlatCharge money	    NOT NULL DEFAULT 0,
 FlatChargePct    VARCHAR(10) NOT NULL DEFAULT '',
 RunChargePct     VARCHAR(10) NOT NULL DEFAULT '',
 PlateChargePct   VARCHAR(10) NOT NULL DEFAULT '',
 FinishChargePct  VARCHAR(10) NOT NULL DEFAULT '',
 PressChargePct   VARCHAR(10) NOT NULL DEFAULT '',
 ConvertChargePct VARCHAR(10) NOT NULL DEFAULT '',
 TotalFlatChg     VARCHAR(10) NOT NULL DEFAULT '',
 PerThousandChg   VARCHAR(10) NOT NULL DEFAULT '',
 SETUP_MINUTES    INT NOT NULL DEFAULT 0,
 SLOWDOWN_PERCENT INT NOT NULL DEFAULT 0,
 PRESS_ADDL_MIN   INT NOT NULL DEFAULT 0,
 COLL_ADDL_MIN    INT NOT NULL DEFAULT 0,
 BIND_ADDL_MIN    INT NOT NULL DEFAULT 0,
 PRESS_SLOW_PCT   INT NOT NULL DEFAULT 0,
 COLL_SLOW_PCT    INT NOT NULL DEFAULT 0,
 BIND_SLOW_PCT    INT NOT NULL DEFAULT 0 )

insert into quote_details ( QUOTE_NUM, SEQUENCE, CATEGORY,  PARAM1,       Param2,    Value2, Amount, FlatCharge,  FlatChargePct, RunChargePct, TotalFlatChg, PerThousandChg, Setup_Minutes, Slowdown_Percent )
                   values ( '10001',   1,        'Backer', 'BACKER STD', 'Changes', '4',	 176,	 176,        '10',			'20',		  '176',		'0.78',			 45,           22 )
